h1 {
    border-bottom: 1px solid silver;
    padding: 2%;
    color: #4aaaa5;
}

h4 {
    border-bottom: 1px solid silver;
    padding-bottom: 5%;
    color: #4aaaa5;
    font-size: 24px;
}

p {
    line-height: 1.5;
}

.img-responsive {
    display: inline-block;
    margin: 1%;
}

.btn-default {
    width: 100%;
    margin-bottom: 3%;
    background: #4aaaa5;
    color: white;
}

.image {
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 4%;
    border-radius: 5%;
}

h2 {
    position: absolute;
    bottom: 2%;
    background: #4aaaa5;
    color: white;
    width: 100%;
    opacity: .8;
}