h1 {
    border-bottom: 1px solid silver;
    padding: 2%;
    color: #4aaaa5;
}

h4 {
    border-bottom: 1px solid silver;
    padding-bottom: 5%;
    color: #4aaaa5;
    font-size: 24px;
}

p {
    line-height: 1.5;
}

.img-responsive {
    display: inline-block;
    margin: 1%;
}

.btn-default {
    width: 100%;
    margin-bottom: 3%;
    background: #4aaaa5;
    color: white;
}

.img-container {
    width: 250px;
    overflow: auto;
    position: relative;
}

.img-container img {
    width: 100%;
}

h3 {
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    background: teal;
    color: white;
}